{% extends 'base.j2' %}

{% block monitor_aliases %}
{% if "docked" in context %}
set $bar_output     DVI-I-2-2
set $all_monitors   DVI-I-1-1 DVI-I-2-2 eDP-1
set $laptop_monitor eDP-1
set $l_monitor      DVI-I-1-1
set $r_monitor      DVI-I-2-2
{% else %}
set $bar_output     eDP-1
set $laptop_monitor eDP-1
set $all_monitors   eDP-1
{% endif %}
{% endblock %}

{% block screen_layout %}
{% if "docked" in context %}
exec workspace number 1 output $laptop_monitor
exec workspace number 2 output $l_monitor
exec workspace number 3 output $r_monitor
{% else %}
exec workspace number 1 output $laptop_monitor
{% endif %}
{% endblock %}

{% block startup %}
{{ super() }}
exec xinput set-prop "Synaptics TM3289-002" "libinput Tapping Enabled" 1
{% endblock %}

{% if "docked" in context %}
{% block i3lock %}
bindsym Control+$Super+F12 exec i3lock -c000000
{% endblock %}
{% endif %}