[Unit]
Description=Unifi Controller
After=docker.service
Requires=docker.service
 
[Service]
TimeoutStartSec=0
ExecStart=/usr/bin/systemd-docker run --name=unifi --network=host -v /var/unifi/config:/var/lib/unifi -v /var/unifi/log:/usr/lib/unifi/logs -v /var/unifi/log2:/var/log/unifi -v /var/unifi/run:/usr/lib/unifi/run -v /var/unifi/run2:/run/unifi -v /var/unifi/work:/usr/lib/unifi/work ryansch/unifi-rpi:latest
Restart=always
RestartSec=10s
Type=notify
NotifyAccess=all
 
[Install]
WantedBy=multi-user.target
