
Port {{ sshd.jump.port }}
ListenAddress 0.0.0.0

PermitRootLogin no
AllowGroups jump

AuthenticationMethods publickey
AuthorizedKeysFile /etc/ssh/authorized_keys/%u

#LogLevel VERBOSE

ForceCommand /sbin/nologin
PermitTTY no

X11Forwarding no
AllowAgentForwarding no



Protocol 2
Compression no

Ciphers {#
    #}chacha20-poly1305@openssh.com,{#
    #}aes256-gcm@openssh.com,{#
    #}aes128-gcm@openssh.com,{#
    #}aes256-ctr
MACs {#
    #}hmac-sha2-256-etm@openssh.com,{#
    #}hmac-sha2-512-etm@openssh.com
HostKeyAlgorithms {#
    #}rsa-sha2-512,{#
    #}rsa-sha2-256,{#
    #}ssh-ed25519
KexAlgorithms {#
    #}curve25519-sha256,{#
    #}curve25519-sha256@libssh.org,{#
    #}diffie-hellman-group16-sha512,{#
    #}diffie-hellman-group18-sha512,{#
    #}diffie-hellman-group14-sha256
